<html>
  <head>
    <!-- Bootstrap bits -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Personal CSS -->
    <link rel="stylesheet" href="https://hosted.courtman.me.uk/stylings/css/main.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="navbar " role="navigation">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for("overview") }}">Overview</a>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row content">
        <div class="col-sm-12 col-md-9">
          <h2>The Slow and Scenic Apocalyptic Adventure</h2>
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

  </body>

</html>
