{% extends "base.html" %}

{% block content %}
<h3>{{ leg[2] }} to {{ leg[3] }}</h3>

<p><b>{{ day }}</b></p>

<p>This leg covered {{ leg[8]|round(1) }} miles. The weather was {{ leg[4]|lower }} The terrain covered was: {{ leg[5] }}</p>

{% if leg[14] %}
<p>{{ leg[14]|safe }}</p>
{% endif %}

{% if leg[6] %}
<p><b>Swim or Paddle</b> {{ leg[6] }}</p>
{% endif %}

{% if leg[7] %}
<p><b>Heroically "Avoided" Snack Opportunities</b> {{ leg[7] }}</p>
{% endif %}

{% if leg[12] %}
<p><b>Churches Visited</b></p>
<ul>
{% for church in leg[12] %}
  <li>{{ church["church"] }}, {{ church["settlement"] }}</li>
{% endfor %}
</ul>
{% endif %}

{% if leg[13] %}
<p><b>People Who Joined Us</b></p>
<ul>
{% for person in leg[13] %}
  <li>{{ person["forename"] }}</li>
{% endfor %}
</ul>
{% endif %}

{{ iframe|safe }}

{% endblock %}

