{% extends "base.html" %}

{% block content %}
<p>Our families are scattered across the length and breadth of England and Wales. We asked the questions: what would happen in case of apocalypse, could we still see our relations?</p>

<p>To find out the answer, we stepped out the door...</p>

<h3>James and Nicholas' Long Walk</h3>
<p>Distance covered so far: {{ distance|round(1) }} miles.</p>
{{ iframe|safe }}

<h3>The Quests</h3>
{% for quest in quests %}
<h4>{{ quest[0] }}</h4>
<p>{{ quest[1] }}</p>
<p>Tracks: {{ quest[2] }}</p>
<p>{{ quest[3] }} to {{ quest[4] }}</p>
<p>Distance covered: {{ quest[5]|round(1) }} miles.</p>

 <ul>
{% for leg in quest[6] %}
  <li><a href="{{ url_for("leg_page", id=leg["id"]) }}">{{ leg["name"] }}</a></li>
{% endfor %}
</ul>

{% endfor %}

{% endblock %}

