{% extends "base.html" %}

{% block content %}
<h3>Upcoming Hikes</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Journey</th>
      <th scope="col">Length</th>
      <th scope="col">Terrain</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  {% for hike in hikes %}
    <tr>
      <td>{{ hike[2] }} to {{ hike[3] }}</td>
      <td>{{ hike[1]|round(1) }} miles</td>
      <td>{{ hike[4] }}</td>
      <td>{{ hike[0].strftime("%A, %B %-d, %Y") }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

